.callout[data-callout="l/tab"] {
	background-color: var(--background-primary);
	--callout-color: var(--text-normal);

	.callout-title-inner {
		font-family: "My Title font", "SF Compact Display";
		font-stretch: condensed;
	}

	.callout-icon {
		display: none;
	}
}
