.block-language-tx:has(a[href="#css/tx/props/row"]) table {
	margin-block-end: 0;

	thead th, tbody td {
		border-color: var(--background-primary) !important;
		font-weight: normal;
		font-style: italic;
		color: var(--text-title);
	}

	a[href="#css/tx/props/row"] {
		display: none;
	}
}

.markdown-source-view.mod-cm6 .cm-content > [contenteditable=false]:has(a[href="#css/tx/props/row"]) {
	contain: layout !important;
}
