body /* Important Settings */ {
    --metadata-display-reading: none;
    // --metadata-display-editing: none;
    --callout-blend-mode: normal;
}

body /* Add more variables */ {
    --dropdown-padding-top: 0px;
    --dropdown-padding-bottom: 0px;
    --dropdown-padding-left: 0.9em;
    --dropdown-padding-right: 1.9em;
}
