@mixin paint-ball-links($icon) {
	a:has(.iconize-icon-in-link[data-icon=#{$icon}]) .iconize-icon-in-link[data-icon=#{$icon}],
	.cm-line:has(.iconize-icon-in-link[title=#{$icon}]) .iconize-icon-in-link[title=#{$icon}] {
		display: none;
	}

    a:has(.iconize-icon-in-link[data-icon=#{$icon}]),
	.cm-line:has(.iconize-icon-in-link[title=#{$icon}]) .iconize-icon-in-link[title=#{$icon}] + img + span > a {
        font-weight: 600;
		font-size: calc(var(--font-text-size) - 1px);
		text-transform: capitalize;
        text-decoration: none;

		@if $icon == "游릭" {
			color: var(--color-green);
		} @else if $icon == "游" {
			color: var(--color-orange);
		} @else if $icon == "游댯" {
			color: var(--color-blue);
		} @else if $icon == "游리" {
			color: var(--color-yellow);
		} @else if $icon == "游릮" {
			color: var(--color-purple);
		} @else if $icon == "游릯" {
			color: var(--color-base-60);
		} @else if $icon == "游댮" {
			color: var(--color-red);
		} @else if $icon == "游" {
			color: var(--color-cyan);
		}
    }
}

@include paint-ball-links("游릭");
@include paint-ball-links("游");
@include paint-ball-links("游댯");
@include paint-ball-links("游리");
@include paint-ball-links("游릮");
@include paint-ball-links("游릯");
@include paint-ball-links("游댮");
@include paint-ball-links("游");

@mixin paint-square-links($icon) {
	a:has(.iconize-icon-in-link[data-icon=#{$icon}]) .iconize-icon-in-link[data-icon=#{$icon}],
	.cm-line:has(.iconize-icon-in-link[title=#{$icon}]) .iconize-icon-in-link[title=#{$icon}] {
		display: none;
	}

    a:has(.iconize-icon-in-link[data-icon=#{$icon}]),
	.cm-line:has(.iconize-icon-in-link[title=#{$icon}]) .iconize-icon-in-link[title=#{$icon}] + img + span > a {
        font-weight: normal;
		font-size: calc(var(--font-text-size) - 1px);
		text-transform: capitalize;
		text-decoration-style: double;
		color: var(--color-base-70);

		@if $icon == "游릴" {
			text-decoration-color: var(--color-green);
		} @else if $icon == "游릲" {
			text-decoration-color: var(--color-orange);
		} @else if $icon == "游릱" {
			text-decoration-color: var(--color-blue);
		} @else if $icon == "游릳" {
			text-decoration-color: var(--color-yellow);
		} @else if $icon == "游릵" {
			text-decoration-color: var(--color-purple);
		} @else if $icon == "游릶" {
			text-decoration-color: var(--color-base-60);
		} @else if $icon == "游린" {
			text-decoration-color: var(--color-red);
		} @else if $icon == "游" {
			text-decoration-color: var(--color-cyan);
		}
    }
}

@include paint-square-links("游릴");
@include paint-square-links("游릲");
@include paint-square-links("游릱");
@include paint-square-links("游릳");
@include paint-square-links("游릵");
@include paint-square-links("游릶");
@include paint-square-links("游린");
@include paint-square-links("游");

/* Solve strange bug with duplicate icon on links inside Dataview metadata */
.internal-link {
	> .iconize-icon-in-link[data-icon] + .iconize-icon-in-link[data-icon] {
		display: none;
	}
}
